extends layout

block content
    h1#h1App EDITAR PASO

    .container
        form#editarPasos(action='/editarpaso', method='post')
            input(type='hidden',name='id',value='#{info[0].id}')
            .form-group
                label(for='elemento') Elemento
                input#elemento.form-control.elemento(type='text', placeholder='Elemento', name='elemento', value='#{info[0].elemento}')

            .form-group
                label(for='valor') Valor
                input#valor.form-control.valor(type='text', placeholder='Valor', name='valor', value='#{info[0].valor}')

            .form-group
                label(for='Tipo') Tipo
                select#tipo.form-control.tipo(name='tipo')
                    option(value='#{info[0].tipo}') #{info[0].tipo}
                    option Check_Box
                    option Click
                    option Date
                    option Number
                    option Password
                    option Radio
                    option See
                    option Select
                    option Text

            button.ePasos.btn.btn-primary(style='margin-bottom: 10px', type='submit') Guardar

        a(href='javascript:window.history.back();')
            button.btn.btn-default(type='submit') Cancelar