extends layout

block content
    h1#h1App ESCENARIOS

    div#modalEscenario
        #modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        p#resultadoCodecept

                    .modal-footer
                        button.btn.btn-primary(type='button', data-dismiss='modal') OK

    .container
        button.ir(data-toggle='modal' data-target='#modal') ddddd
        div#form
            form(action='/crearescenario', method='get')
                input.btn.btn-primary.newApp(value='Nuevo Escenario', type='submit')
            a(href='/')
                button.btn.btn-info(type='submit') Aplicaciones
        hr(size='2px', style='border-top: 2px solid #eee')

    table#tablaApp.table.escenario.table-striped
        thead
            tr
                th
                th Nombre
                th
                th URL
                th Opciones
        tbody
        each s in info
            tr.fila
                td
                    form(action='/codecept/#{s.nombre}', method='get')
                        button.btn.btn-default(id='#', type='submit', data-toggle='tooltip', title='Iniciar')
                            span.glyphicon.glyphicon-play.text-primary.align-center
                td.nombreEscenario #{s.nombre}
                td
                    a.siguiente(href='/pasos/#{s.nombre}') Pasos
                td #{s.url}
                td
                    form.a(action='/eliminarescenario/#{s.idEsc}' method='post')
                        a.eliminar(href='javascript:void(0)' onclick='if(confirm(\"Desea eliminar este registro?\")){this.parentNode.submit()}') Eliminar
                    a.separador(href='/editarescenario/#{s.idEsc}') Editar




